{% extends "layout.html" %}

{% block title %} {{website_name}} {% endblock %}

{% block embed %}

<div class="center">
    Hello
    <p>game1</p>
    <p>game2</p>
    <p>game3</p>
    <p>game4</p>
    <p>game5</p>
    <p>game6</p>
    <p>you get the point</p>
    <p>there</p>
    <p>there</p>
    <p>there</p>
    <p>there</p>
    <p>there</p>
    <p>there</p>
    <p>there</p>
    <p>there</p>
    <p>there</p>
    <p>there</p>
    <p>there</p>
    <p>there</p>
    <p>there</p>
    <p>there</p>
    <p>there</p>
    <p>there</p>
    <p>there</p>
    <p>there</p>
    <p>there</p>
    <p>there</p>
    <p>there</p>
    <p>there</p>
    <p>there</p>
    <p>there</p>
    <p>there</p>
    <p>there</p>
    <p>there</p>
    <p>there</p>
</div>

{% endblock %}
