.login-container {
  border-radius: 20px;
  border: 3px solid #156099;
  padding: 20px;
  width: 400px;
  margin: 0 auto;
  text-align: left;
  font-size: large;
  position: relative;
  top: 100px;
  }
  
  .login-form {
    width: 100%;
  }
  .funt {
    font-family: Subnautica;
  }
  
  .login-form label {
    display: block;
    margin-top: 5px;
  }
  
  .login-form input[type="text"],
  .login-form input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 5px;
    margin-top: -10px;
    box-sizing: border-box;
  }
  
  .login-form input[type="checkbox"] {
    margin-top: 15px;
  }
  
  .login-form input[type="submit"] {
    width: 100%;
    padding: 10px;
    margin-top: 20px;
    background: radial-gradient(#1ece15,#196308);
    color: white;
    border: none;
    cursor: pointer;
  }
  
  .help-link {
    display: block;
    margin-top: 10px;
    text-decoration: none;
    color: rgb(231, 61, 10);
  }
  .windoww {
    border-radius: 20px;
    border: 3px solid black;
  }
  .up {
    position: relative;
    top: -27px;
    left: 30px;
  }
  .signin_but {
    position: relative;
    top: -50px;
  }
  @font-face { 
    font-family: Subnautica; src: url('DaysOne-Regular.ttf'); 
  }