.main {
	background: linear-gradient(to bottom, #171d25 0%, #171d25 2.25%, #1F2F4F 2.5%, #1F2F4F 100%);
	background-repeat: no-repeat;
	background-size: 100vw 5000px;
	color: #ebebeb;
}
.logo {
	position: relative;
	left: 15%;
	top: 2vh;
}
.login {
	width: 70px;
	background: linear-gradient(to bottom right,#18ab3b,#08c7b7);
	border-radius: 8px;
	border: 2px solid black;
}
.location-login {
	position: relative;
	left: 60vw;
	top: -2.5vh;
}
.cen {
	position: relative;
	top: -1vh;
	text-align: center;
	font-size: large;
}
a {
	color: white;
	text-decoration: none;
	font-weight: bold;
}
.news {
	background: linear-gradient(to right,rgb(21, 145, 170),rgb(18, 79, 137));
	width: 60vw;
	height: 30px;
	position: absolute;
	left: 0; 
    right: 0; 
    margin-left: auto; 
    margin-right: auto; 
	top: 2vh;
	border-radius: 3px;
	
}
.nue {
	position: relative;
	top: 18%;
	left: 2%;
}
main {
	width: 65vw;
	height: auto;
	margin: 0 auto;
	position: relative;	
}
header {
	width: auto;
	height: 110px;
}
.left {
	position: -webkit-sticky; /* Safari */
	position: sticky;
	float: left;
	background: linear-gradient(#283783,#166e96);
	border-radius: 15px;
	width: 17vw;
	top: 10%;
	height: auto;
padding: 5px;  
}
.right {
	position: -webkit-sticky; /* Safari */
	position: sticky;
	float: right;
	background: linear-gradient(#283783,#166e96);
	border-radius: 15px;
	top: 10%;
	width: 17vw;
	height: auto;
padding: 5px;  
}
.space {
	margin-left: 6%;
}
.ab {
	position:absolute;
}
.top1 {
	left: 30vw;
}
.top2 {
	left: 40vw;
}
.top3 {
	left: 50vw;
}
.top4 {
	left: 60vw;
}
h3 {
	visibility: hidden;
}
h2 {
  text-align: center;
}