{% extends "layout.html" %}

{% block title %} {{website_name}} {% endblock %}

{% block embed %}

<div class="center textblock">
{% if session["user_id"] %}
<h1> {{lang['about.hello']}}, {{dbs.execute("SELECT name FROM users WHERE id=" + str(session['user_id']))[0][0]}}! </h1>
{% else %}
<h1> {{lang['about.hello']}}!</h1>
{% endif %}


<h3>{{lang['about.welcome']}} {{website_name}}.</h3><br>
{{lang['about.wallotext']}}
<br>
{{lang['about.authors']}}
<ul>
<li>{{lang['about.bartek']}}</li>
<li>{{lang['about.jakub']}}</li>
<li>{{lang['about.robert']}}</li>
<li>{{lang['about.patryk']}}</li>
</ul>
</div>


{% endblock %}
