{% extends "layout.html" %}

{% block title %} {{website_name}} {% endblock %}

{% block embed %}

<style>

.news1
{
    position:relative;
    border: 1px solid white;
    border-radius:10px;
    top: 10%;
    padding: 10px;
    background-color: #FFFFFF;
    width: 95%;
    height: 50%;
    color: black;
}
.pic1123
{
    position: relative;
    top: -25%;
    left: 10%;
    padding: 10px;
    //background-color: #321412;
    color: black;
    transition: 1s;
}
.pic1123:hover {
  transform: scale(1.05);
}    
</style>

<div class="center textblock6">

<div class="news1"><h1>BREAKING NEWS! HETMAN FOKO IS COMMUNIST AND HE RUN FROM JAIL!!!</h1>
<div class="pic1123"><img src="static/images/hetmanfoko.svg"></div>
</div>
</div>

{% endblock %}
