{% extends "layout.html" %}

{% block title %} {{website_name}} {% endblock %}

{% block embed %}

<style>

.news1
{
    position:relative;
    left: 500px;
    top: 20px;
    padding: 10px;
    background-color: #FFFFFF;
    width: 300px;
    height: 700px;
    color: black;
}
.pic1123
{
    position:relative;
    left: 50px;
    bottom: 700px;
    padding: 10px;
    background-color: #321412;
    width: 300px;
    height: 300px;
    color: black;
}
    
</style>

<div class="center textblock6">

<div class="news1"><p1>BREAKING NEWS! HETMAN FOKO IS COMMUNIST AND HE RUN FROM JAIL!!!</p1></div>
<div class="pic1123"><img src="static/images/hetmanfoko.svg"></div>

</div>

{% endblock %}
