{% extends "layout.html" %}

{% block title %} {{website_name}} {% endblock %}

{% block embed %}

<div class="center">
    Hello
    <p>there</p>
    <p>there</p>
    <p>there</p>
    <p>there</p>
    <p>there</p>
    <p>there</p>
    <p>there</p>
    <p>there</p>
    <p>there</p>
    <p>there</p>
    <p>there</p>
    <p>there</p>
    <p>there</p>
    <p>there</p>
    <p>there</p>
    <p>there</p>
    <p>there</p>
    <p>there</p>
    <p>there</p>
    <p>there</p>
    <p>there</p>
    <p>there</p>
    <p>there</p>
    <p>there</p>
    <p>there</p>
    <p>there</p>
    <p>there</p>
    <p>there</p>
    <p>there</p>
    <p>there</p>
    <p>there</p>
    <p>there</p>
    <p>there</p>
    <p>there</p>
    <p>there</p>
</div>

{% endblock %}
