<!Doctype html>
<html>
  <head>
    <link type="text/css" rel="stylesheet" href="mystyle.css">

    <title> {% block title %} {% endblock %}</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
  <div class="all">
  
  
    {% if session["user_id"] %}
        <div class="lay">
          <div id="panel" class="panel center">
          </div>
          </div>
    {% else %}
      <div class="lay">
        <div id="panel2" class="panel center">
        </div>
      </div>
    {% endif %}
    {% if session["user_id"] and library %}
    <div id="lib_panel" class="lib_panel">
      <h1> Library: </h1>
        {% for i in dbs.execute("SELECT * FROM games") %}
          {% if str(i[0]) in dbs.execute("SELECT GAMES FROM users WHERE id="+str(session['user_id']))[0][0] %}
          <div class="div_themes">
            <button onclick="" oncl id="theme-libpanel" class="theme-button">
              {{i[1]}}
              <img class="img_themes" src="{{url_for('static', filename=i[2])}}">
            </button>
          </div>
          {% endif %}
        {% endfor %}
        </div>
        <div id="themes_panel" class="themes_panel">
          <h1 style="text-align: center;"> Themes: </h1>
          
            {% for i in dbs.execute("SELECT * FROM themes") %}
              <div class="div_themes">
                <button onclick="theme_swap({{i[0]}})" oncl id="theme-libpanel" class="theme-button">
                    <img class="img_themes" src="{{url_for('static', filename=i[2])}}">
                </button>
              </div>
            {% endfor %}
            <button onclick="refresh()" class="center btn">Refresh</button>

        </div>
    {% endif %}
    <div id="embed" class="embed center">
    {% block embed %} {% endblock %}
    </div>
  </div>
  

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script> 
  <script>

  function theme_swap(id) {
    $.post( "/changetheme", {
      javascript_data: id
    });
  }
  function refresh() {
    location.reload();
  }
  
  function addPanelElement(hrf, name, id, add, notext) {
    var panel = document.getElementById(id);
    var a = document.createElement("a");
    if (!notext) {
      a.innerText=name;
    }
    a.href=hrf;
    a.className="paneltxt";
    a.id = "a"+name;
  
    var div = document.createElement("div");
    div.id=name;
    div.className="element";
    if (add) {
      div.className="element " + add;
    }
  
    panel.appendChild(div);
    document.getElementById(name).appendChild(a);
  }
  
  {% if not session["user_id"] %}
    addPanelElement("/", "{{website_name}}", "panel2", "logo", true);
    addPanelElement("about", "About", "panel2", "about");
    addPanelElement("browse", "Browse", "panel2", "browse");
    addPanelElement("basket", "Basket", "panel2", "basket");
    addPanelElement("library", "Library", "panel2", "library");
  
  
    addPanelElement("login", "Login", "panel2", "loginpart");
    addPanelElement("register", "Register", "panel2", "loginpart");
  {% else %}
    addPanelElement("/", "{{website_name}}", "panel", "logo", true);
    addPanelElement("about", "About", "panel", "about");
    addPanelElement("browse", "Browse", "panel", "browse");
    addPanelElement("basket", "Basket", "panel", "basket");
    addPanelElement("library", "Library", "panel", "library");
  
  
    addPanelElement("profile", "profile", "panel", "profile", true);
  {% endif %}
  
  function swapImg(obj, src, add) {
    img = document.createElement("img");
    img.src=src;
    obj.appendChild(img);
    img.className="header_img";
  }
  
  swapImg(document.getElementById("a{{website_name}}"), "{{url_for('static', filename='images/logo.png')}}");
  {% if session["user_id"] %}
  swapImg(document.getElementById("aprofile"), "{{url_for('static', filename='images/profiles/' + str(session['user_id']) + '.png')}}");
  {% else %}
  swapImg(document.getElementById("aprofile"), 
    "{{url_for('static', filename=dbs.execute('SELECT val FROM dynamic WHERE var=\'defprof\''))}}");
  
  {% endif %}
  
  function myFunction() {
    document.getElementById("demo").innerHTML = "It's not my problem";
    document.getElementById("my_button").style.visibility = "hidden";
  }
  </script>
  </body>
  </html>
  
  
