{% extends "layout.html" %}

{% block title %}
  Log in
{% endblock %}

{% block embed %}
<div class="back_register">
  <form method="post" action="/login">
    <p class="text_left">{{lang['common.username']}}:</p>
    <input type=text name="username" class="username query" placeholder="{{lang['common.username']}}"></input>
    <p class="text_left">{{lang['common.password']}}:</p>
    <input type=password name="password" class="password query" placeholder="{{lang['common.password']}}"></input>



    <button name="submit" class="submit btn ">{{lang['common.submit']}}</button><br>
  </form>

  <button id="my_button" style="background: transparent;border: none; color:rgb(217, 3, 3); font-weight: bold; "onclick="passwd()">
    {{lang['profile.forgor']}}</button>


  <p id="demo" style="position: relative;top: -4vh;"></p>
</div>
<script>
  function passwd() {
    document.getElementById("my_button").innerText="{{lang['profile.problem']}}";
  }
</script>
{% endblock %}
