{% extends "layout.html" %}

{% block title %}
  Log in
{% endblock %}

{% block embed %}

  <form method="post" action="/login">

    <input type=text name="username" placeholder="Username" class="username query center"></input>
    <input type=password name="password" placeholder="Password" class="password query center"></input>

    <button name="submit" class="submit btn ">Submit</button><br>
  </form>
  <button id="my_button"style="background-color: white; border: 0px; color: rgb(131, 131, 131);"onclick="myFunction()">I don't remember password</button>
  <p id="demo" style="position: relative;top: -5vh;"></p>

{% endblock %}
