{% extends "layout.html" %}

{% block title %} {{website_name}} {% endblock %}

{% block embed %}

<div class="center textblock">
{% if session["user_id"] %}
<h1> Hello, {{dbs.execute("SELECT name FROM users WHERE id=" + str(session['user_id']))[0][0]}}! </h1>
{% else %}
<h1> Hello!</h1>
{% endif %}

<form action="/wallet" method="POST">
<h2>Szukasz sposobu na doładowanie swego konta?</h2><br>
<h3>Wybierz ilość pięniędzy do dodania!</h3><br>

<input autocomplete="off" class="form-control" min="0" step="10" name="money" id="money" value=100 placeholder=100 type="number">
<button name="submit" class="btn" type=submit> Dodaj! </button>
</form>

{% endblock %}
